<div class="container">
  <div>
    <div class="col-md-6">
      <h1 class="text-center about-pg-heading" id="about-heading">Statement of Faith</h1>
        <p class="about-pg-text-info">We believe in God, the Father Almighty, Maker of heaven and earth; and in Jesus Christ, His only Son, our Lord; and in the Holy Spirit; and that these three are one God.
        We reverently receive the Scriptures of the Old and New Testaments, and believe them to be the inspired Word of God, the only infallible rule of faith and practice.
        <br><br>
        We believe in the Lord Jesus Christ, who, in the beginning "was with God," and "was God," and who "himself bore our sins in his body on the tree, so that we might die to sins and live for righteousness."  1 Peter 2:24 NIV
        <br><br>
        We believe the Holy Spirit has led me to repent of all my sins, and to turn from them, and to obey Christ where He says, "If anyone would come after me, he must deny himself and take up his cross and follow me." Mark 8:34 NIV
        <br><br>
        We believe in the resurrection of the dead, and in the final judgment of all people. "Whoever believes in the Son has eternal life, but whoever rejects the Son will not see life, for God's wrath remains on him." John 3:36, NIV
        <br><br>
        We believe that we are saved "by grace through faith" in the Lord Jesus Christ, and that good works are the certain fruit of such faith. I therefore offer myself for Christian service as a means of expressing my gratitude to Him, and to extend His cause.
        <br><br>
        We cheerfully submit myself to the instruction and government of this church, and I promise to promote its purity, peace, and welfare by all means within my power, so long as I shall continue to be a member.</p>
    </div>

<!--     <div class="col-md-6">
      &nbsp;&nbsp;
      <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/willamena.jpg" alt="Speaker" width="60%" height="60%">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          &nbsp;&nbsp;
          <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/preachers.jpg" alt="Preachers in Pulpit" width="60%" height="60%">
        </div>
      </div>
    
      <div class="col-md-6">
        <div>
          &nbsp;&nbsp;
          <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/twoaustins.jpg" alt="Two Austins" width="60%" height="60%">
        </div>
      </div>

    </div> -->
    
  </div>
</div> <!-- end container -->
