<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Evangelist Patrina Webb <small>Evangelism Team Lead</small></h1>

    <div class="row">

      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/DSC_2407.jpg" alt="Webb's Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">Evangelist Webb, a native of Birmingham, Alabama, was born August 26, 1972 to Minister Prentice Lee Webb of Alabama and Pearline Coleman of Mississippi. Evangelist Webb is a graduate of Ensley Magnet High School.</p>

              <p class="bio-pg-text-info">In 1993, Evangelist Webb entered Miles College and majored in Communications and Education.  After which, she continued her education at Jefferson State where she earned her CDA credentials in Early Childhood Education.</p>

              <p class="bio-pg-text-info">Evangelist Webb is presently as Evangelism Team Lead at Redeemed by Grace Ministries.  She is currently matriculating towards a Bachelor’s in Pastoral Theology at the Birmingham-Easonian Baptist Bible College.</p>

<!--               <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Min. Webb via email:  <a href="mailto:p.webb@rbgminternational.org"> p.webb@rbgminternational.org</a></i>
              </p>   -->

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
