<div class="container">
  <div>
    <div class="col-md-6">
    <h1 class="text-center about-pg-heading" id="about-heading">Mission</h1>
      <p class="about-pg-text-info">We will remain in a state of constant contrition, that is, being mindful of whom we are and whose we are, we must remain in constant prayer, praise and worship. We will implement and maintain private and family devotion.  We will teach and lead by example to rightly divide the word of truth and live non-hypocritical lives.  Teaching to be non-judgmental and empathetic towards others during their times of weakness, always remaining a beacon of light and a source for God to use. Although we are subject to falling, we will not use this as an excuse to deliberately disobey God or His word. We will meet the needs of man on every level; mind, body and spirit to carry out God’s holistic plan for man in His reconciling us to Himself.</p>
  </div>

<!--   <div class="col-md-6">
    &nbsp;&nbsp;
    <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/praisedance.jpg" alt="Praise Dancer" width="60%" height="60%">
  </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          &nbsp;&nbsp;
          <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/group.PNG" alt="Group" width="60%" height="60%">
        </div>
      </div>
    </div> -->
  </div>
</div> <!-- end container -->