<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Rev. Jesse Alexander, Jr. <small>Associate Pastor</small></h1>

    <div class="row">
      
      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/DSC_2427.jpg" alt="Alexander's Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">A native of Montevallo, Alabama, attended the University of Montevallo a Business Major.  Graduate of Birmingham Easonian Baptist Bible College, 2014 earned a B.A. in Pastoral Theology, 2015 earned a B.A. in Advanced Theology.  Presently enroll at Newburg Theological Seminary, Ordain in 2014. Presently serving as an Associate Pastor at Redeemed by Grace Ministries.</p>

              <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Rev. Alexander via email:  <a href="mailto:j.alexander@rbgminternational.org"> j.alexander@rbgminternational.org</a></i>
              </p>  

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
