<div class="container">
  <div>
    <h1 class="text-center about-pg-heading" id="about-heading">Online giving</h1>

    <div class="col-md-6">
      <h1 class="about-pg-title text-center">A Note From Your Pastor</h1>
      <p class="about-pg-text-info">
        Dear Giver,
        <br><br>
        Thank you for your willingness to give to Redeemed By Grace Ministries as we work to further the Kingdom of God. The Bible is very clear about giving. You may say, “Well, I really want to obey God.” This is just one part of it, but it’s a valuable part and here’s the reason. Jesus told His disciples to go into all the world, preaching the gospel to every creature. He said “you shall receive power after the Holy Spirit comes upon you. And you will be My witnesses…”
        <br><br>
        I want you to remember that every time you give it’s not just a command, it is a privilege. It’s a privilege to make it possible for people to go and preach the gospel to all the world. I pray that you will always give in that Spirit, by saying, “God, it is a privilege to take part in sharing the Gospel.”
        <br><br>
        Sincerely,
        <br><br>
        Rev. David F. Austin
      </p>
    </div>

    <div class="col-md-6">
      <h1 class="about-pg-title text-center">Givelify</h1>
      <p class="about-pg-text-info">

        <img class="media-object img-thumbnail center-block" src="/assets/givelify.jpg" alt="Givelify Image" width="30%" height="30%">

        <strong>GIVELIFY!!!</strong> You now have a way to give your tithes &amp; offering from your smart-phone. It's a free app and it's secure! So, if you're on vacation, have to work, or you just overslept you can still do what God requires and give your first-fruit, even if you don't make it out to worship. It's easy as 1, 2, 3!
        <br><br>
        1. Download the app for your phone (iPhone-App store, Android-Google play store)<br>
        2. Search for <strong>Redeemed By Grace Ministries</strong> (mark us as your home church for faster giving in the future)<br>
        3. Give<br>
      </p>

      <div class="row">
        <h1 class="about-pg-title text-center">Givelify How To Video</h1>
      
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mgws28wzYY8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

  </div>
</div> <!-- end container -->

