<div class="container">
  <div>
    <div class="col-md-6">
      <h1 class="text-center about-pg-heading" id="about-heading">Covenant of Government and Faith</h1>
        <p class="about-pg-text-info">
          WE PROFESS our decided attachment to that system of the Christian religion which is designated evangelical and includes the following professions:
          <br><br>
          WE BELIEVE that the Scriptures of the Old and New Testaments are the Word of God and the all-sufficient rule of faith and practice.
          <br><br>
          WE BELIEVE that there is but one living and true God, subsisting in three persons, the Father, the Son, and the Holy Spirit, equal in power and glory; that this triune God created all, upholds all, and governs all.
          <br><br>
          WE BELIEVE that Jesus Christ is the Son of God, the Savior of the world, and that through His life, death, and resurrection an atonement was made for our sin and redemption was provided for all that would receive Him as Savior and God.
          <br><br>
          WE BELIEVE that repentance for sin and the acceptance of Jesus Christ as personal Savior is the one and only way whereby sinners can inherit eternal life.
          <br><br>
          WE BELIEVE the Holy Spirit regenerates the soul of the believer and brings people into saved and reconciled relations with God, and that He is the Comforter and Guide of all who receive Jesus Christ as their Savior.
      </p>
    </div>

<!--     <div class="col-md-6">
      &nbsp;&nbsp;
      <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/praiseteam.jpg" alt="Praise Team" width="60%" height="60%">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          &nbsp;&nbsp;
          <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/offering.jpg" alt="Offering" width="60%" height="60%">
        </div>
      </div>

      <div class="col-md-6">
        <div>
          &nbsp;&nbsp;
          <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/kelley.jpg" alt="Rev. Kelley" width="60%" height="60%">
        </div>
      </div> -->

    </div>

  </div>
</div> <!-- end container -->
