<div class="container">
  <div>
    <h1 class="text-center about-pg-heading" id="about-heading">This Christian Walk<br><small>Wednesday Nights @ 6:30 pm</small></h1>
        <p class="about-pg-text-info">
          TCW is an interactive Bible Study focused on everyday needs, shortcomings, struggles and a host of different topics that Christian’s face on this walk of faith. Pastor Austin not only uses the Holy Writ of God as a source but movies, interactive dialogue, specialists in different fields, guest panels and other methods to encourage learning, growth and spiritual maturity. Come out on Wednesday nights and experience TCW for yourself, you won’t look at bible study the same.
        </p>
  </div>
</div> <!-- end container -->
