<div class="row">
  <div>
    <h1 class="text-center">Welcome to Redeemed by Grace Ministries</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <p><h2 class="text-center">Visiting RBGM</h2>
        <h4>Welcome to the RBGM online community. I believe the Web is a vital tool in sharing our passion for the Gospel and compassion for God’s people. Visit often to learn how God is working in our ministry. Our faith grows and matures most effectively in relationship with other believers this is echoed in our Vision Statement “Integrating God’s Holistic plan for man through our relationship with Him and one another.” I invite you to come worship and grow with us as we seek the face of God and build our relationships with our fellow man through evangelism and discipleship. Join us on campus to engage in face-to-face fellowship we would be honored to have you worship with us and add to our worship experience. As you do, I pray God will reveal your next steps in going deeper with Him.</h4>
      </p>
    </div>

    <div class="col-md-4">
      <img src="/assets/DSC_9957.JPG" alt="David's Image" class="img-thumbnail" id="david-front-pg-img">

    </div>
  </div>
</div>

<!-- <div class="carousel slide" data-ride="carousel" id="carousel-example">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/david_and_mayors.jpg" alt="Slide">
    </div>

    <div class="item">
      <img src="/assets/DSC_9958.JPG" alt="Slide" height="960" width="640">
    </div>

    <div class="item">
      <img src="/assets/DSC_9957.JPG" alt="Slide" height="960" width="640">
    </div>

  </div>

  <a href="#carousel-example" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a href="#carousel-example" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Service Times</h3>
          <p>Services 9am-10:30am</p>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Sundays @ RBGM</h3>
          <p>This Sundays Speaker:
          Rev. David Austin</p>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Word of the Week</h3>
            <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
            <p><strong><h4>Contrition</h4></strong></p>
            sincere penitence or remorse; <em>Theology.</em> Sorrow for and detestation of sin with a true purpose of amendment, arising from a love of God for His own perfections <strong>(perfect contrition)</strong> or from some inferior motive, as fear of divine punishment <strong>(imperfect contrition)</strong>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank" class="contact-icon"><i class="fa fa-facebook-square fa-4x"></i></a>
          <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank" class="contact-icon"><i class="fa fa-youtube-square fa-4x"></i></a>
          <a href="https://twitter.com/rbgmbham" target="_blank" class="contact-icon"><i class="fa fa-twitter-square fa-4x"></i></a>
          <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site" class="contact-icon"><i class="fa fa-envelope-square fa-4x"></i></a>
      </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->

