<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    Logo
  </div>
</nav>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>Site developed by <a href="http://www.gabeaustin.com" target="_blank">Gabe Austin</a> © 2015</p>
    </div>
    <div class="navbar-text pull-right">
      <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
      <a href="https://twitter.com/rbgmbham" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> -->
    </div>
  </div>
</nav>


