<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Min. Sharon Kelley <small>Associate Pastor</small></h1>

    <div class="row">
      
      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/DSC_2413.jpg" alt="Kelley's Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">Bio Coming Soon</p>

              <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Min. Kelley via email:  <a href="mailto:s.kelley@rbgminternational.org"> s.kelley@rbgminternational.org</a></i>
              </p>  

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
