<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Rev. Sharon Kelley <small>Associate Pastor</small></h1>

    <div class="row">
      
      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/DSC_2413.jpg" alt="Kelley's Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">
                <strong>Family</strong><br>
                Rev. Kelley has been married to brother Edgar Lee Kelley for 28 years. She has two adorable daughters and one super smart grand daughter.
                <br><br>
                <strong>Ministry</strong><br>
                Rev. Kelley began this Christian journey long ago after being baptized at the age of seven. She has been instrumental throughout the years serving in multiple capacities of ministry. Some of them include president of The Progressive Adult Ministry, President of The Greeter Ministry, songstress in the mass choir, Rescue and Recovery Ministry, Deaconess Ministry, and Coordinator of a very productive Youth Ministry.
                <br><br>
                Rev. Kelley coordinated several workshops from 2005-2007 for teen girls aged 11-21 entitled Saving It, Protecting It and Keeping It until marriage. It was designed to enlighten teens on the true benefits of abstinence until marriage.
                <br><br>
                Rev. Kelley received her call to the Gospel Ministry in 2011 and has continued to evangelize, preach and mentor in The Name of Our Lord and Savior Jesus Christ as lead by The Holy Spirit.
                <br><br>
                Rev. Kelley is presently serving as an associate pastor at Redeemed by Grace Ministries.
                <br><br>
                <strong>Education</strong><br>
                Rev. Kelley received a certificate of Bible Studies at The BEBBC in 2012 and is presently pursuing a BA degree in Theology. Her plans are to pursue a Master's in Divinity or Ministry as The Lord leads.
                <br><br>
                <strong>Goal</strong><br>
                Rev. Kelley's ultimate destiny is to lead lost souls to Christ.
              </p>

<!--               <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Rev. Kelley via email:  <a href="mailto:s.kelley@rbgminternational.org"> s.kelley@rbgminternational.org</a></i>
              </p>   -->

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
