<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Rev. Leon Bailey <small>Media Director</small></h1>

    <div class="row">

      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/leon_bailey.jpg" alt="Bailey's Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">Rev. Bailey began his Christian walk at the age of 12 when he was baptized after confessing his faith as a believer. He has served in multiple capacities during his walk as a Christian. Deacon, Chairman of the Deacon Board, youth teacher, adult class teacher, singles ministry leader as well as assisting in evangelistic and outreach events. Rev. Bailey answered his call to the ministry in September 2008 and was licensed in 2017. Rev. Bailey has received a certificate in evangelism and mission from the Angelos Bible Institute, an extended study done through Samford University. He has also received a Certificate of Bible Studies from Birmingham Easonian Baptist Bible College, where he is also matriculating towards a Bachelors in Theology. Rev. Bailey is the proud father of two children Keondre Bailey (son) and Jayla Crawford (daughter).</p>

<!--               <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Rev. Alexander via email:  <a href="mailto:j.alexander@rbgminternational.org"> j.alexander@rbgminternational.org</a></i>
              </p>  -->

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
