<div class="container">
  <h1 class="text-center bio-pg-heading staff-pg-title">Min. Christine Davis <small>Associate Pastor</small></h1>

    <div class="row">
      
      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/staff/DSC_2417.jpg" alt="Davis' Bio Image" id="bio-imgs">
          </div>
        </div> <!-- end div col-sm-4 -->
        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">Born in Saginaw, Alabama, Minister Davis is the oldest of six children of Deacon Onnie Lee and the late Sister Naomi Smith. She is the wife of Deacon James Davis, mother of three children and Grandmother of two.</p>

              <p class="bio-pg-text-info">Minister Davis was educated in the Shelby County School system. Graduated from Calera High School. Served at New Mount Moriah in many capacities ranging from youth Director for 25 years to 20 years as Sunday School Superintendent and administer assistant she was Call by God to teach and preach his divine word in 2009. Minister Davis received a Bachelor of Arts in Christian Education Degree from the Birmingham Easonian Baptist Bible College.</p>

              <p class="bio-pg-text-info">The Sunday school publishing Board, National Baptist Convention, USA, Inc. Division of Christian Education Accreditation and Credentials awarded Minister Davis with a diploma the Sunday School publishing Board, National Baptist Convention, USA, Inc. Division of Christian Education Accreditation and Credentials also awarded Dean in Christian Educated.</p>

              <p class="bio-pg-text-info">Minister Davis loves God, loves the Word of God and the People of God. Her passion is teaching the Word of God. Presently Minister Davis serves as an associate pastor and Director of Christian Education at Redeemed by Grace Ministries in Birmingham, AL.</p>

<!--               <p class="staff-pg-text-info">
                <i class="fa fa-envelope"> Contact Min. Davis via email:  <a href="mailto:c.davis@rbgminternational.org"> c.davis@rbgminternational.org</a></i>
              </p>  --> 

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
