<h1>About page</h1>

<h1>Mission</h1>
We will remain in a state of constant contrition, that is, being mindful of whom we are and whose we are, we must remain in constant prayer, praise and worship. We will implement and maintain private and family devotion.  We will teach and lead by example to rightly divide the word of truth and live non-hypocritical lives.  Teaching to be non-judgmental and empathetic towards others during their times of weakness, always remaining a beacon of light and a source for God to use. Although we are subject to falling, we will not use this as an excuse to deliberately disobey God or His word. We will meet the needs of man on every level; mind, body and spirit to carry out God’s holistic plan for man in His reconciling us to Himself.


<h1>Statement of Faith</h1>
We believe in God, the Father Almighty, Maker of heaven and earth; and in Jesus Christ, His only Son, our Lord; and in the Holy Spirit; and that these three are one God.
We reverently receive the Scriptures of the Old and New Testaments, and believe them to be the inspired Word of God, the only infallible rule of faith and practice.
We believe in the Lord Jesus Christ, who, in the beginning "was with God," and "was God," and who "himself bore our sins in his body on the tree, so that we might die to sins and live for righteousness."  1 Peter 2:24 NIV
We believe the Holy Spirit has led me to repent of all my sins, and to turn from them, and to obey Christ where He says, "If anyone would come after me, he must deny himself and take up his cross and follow me." Mark 8:34 NIV
We believe in the resurrection of the dead, and in the final judgment of all people. "Whoever believes in the Son has eternal life, but whoever rejects the Son will not see life, for God's wrath remains on him." John 3:36, NIV
We believe that we are saved "by grace through faith" in the Lord Jesus Christ, and that good works are the certain fruit of such faith. I therefore offer myself for Christian service as a means of expressing my gratitude to Him, and to extend His cause.
We cheerfully submit myself to the instruction and government of this church, and I promise to promote its purity, peace, and welfare by all means within my power, so long as I shall continue to be a member.

<h1>Covenant of Government and Faith</h1>

WE PROFESS our decided attachment to that system of the Christian religion which is designated evangelical and includes the following professions:
WE BELIEVE that the Scriptures of the Old and New Testaments are the Word of God and the all-sufficient rule of faith and practice.
WE BELIEVE that there is but one living and true God, subsisting in three persons, the Father, the Son, and the Holy Spirit, equal in power and glory; that this triune God created all, upholds all, and governs all.
WE BELIEVE that Jesus Christ is the Son of God, the Savior of the world, and that through His life, death, and resurrection an atonement was made for our sin and redemption was provided for all that would receive Him as Savior and God.
WE BELIEVE that repentance for sin and the acceptance of Jesus Christ as personal Savior is the one and only way whereby sinners can inherit eternal life.
WE BELIEVE the Holy Spirit regenerates the soul of the believer and brings people into saved and reconciled relations with God, and that He is the Comforter and Guide of all who receive Jesus Christ as their Savior.

