<div class="row text-center main-content">
  <div class="col-md-3"></div>
  <div class="col-md-7">
    <p><h4>Thank you for visiting <strong>Redeemed By Grace Ministries'</strong> website.</h4></p>
    <p><h4>Please contact us with any questions or comments.</h4></p>
    <p><a class="btn btn-danger btn-lg" href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site" role="button">Contact RBGM</a></p>

    <p><h4>Worship with us Sunday mornings from 9:00 am - 10:30 am</h4></p>
    <address>
      <p><strong>630 Ishkooda Rd SW, Birmingham, AL 35211</strong></p>
      <p><strong>Birmingham-Easonian Baptist Bible College Campus</strong></p>
      <p><strong>S.H. Ravizee Chapel</strong></p>
    </address>

    <p><h4>Contact Information</h4></p>
    <p>Email: <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site">info@rbgminternational.org</a></p>
    <p>Telephone: <a href="tel:6785168433">678-516-8433</a></p>
  </div>
</div>