<div class="container">
  <div class="row text-center main-content vertical-center">
    <div class="col-sm-12 col-md-12">
      <p class="contact-pg-text-info"><h4>Thank you for visiting Redeemed By Grace Ministries' website.</h4></p>
      <p class="contact-pg-text-info"><h4>Please contact us with any questions or comments.</h4></p>
      <p class="contact-pg-text-info"><a class="btn btn-danger btn-lg" href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site" role="button">Contact RBGM</a></p>

      <p class="contact-pg-text-info"><h4>Worship with us Sunday mornings at 11:00 am</h4></p>

      <address>
        <p class="contact-pg-text-info">630 Ishkooda Rd SW, Birmingham, AL 35211</p>
        <p class="contact-pg-text-info">Birmingham-Easonian Baptist Bible College Campus</p>
        <p class="contact-pg-text-info">S.H. Ravizee Chapel</p>
      </address>

      <br>

      <p class="contact-pg-text-info"><h3 class="contact-pg-heading">Contact Information</h3></p>
      <p class="contact-pg-text-info">Email: <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site">info@rbgminternational.org</a></p>
      <p class="contact-pg-text-info">Telephone: <a href="tel:6785168433">678-516-8433</a></p>
      <a class="btn btn-danger btn-xs" href="http://apps.rackspace.com/index.php" target="_blank" role="button">Check Email</a>
    </div>
  </div>
  <br>
  <div class="row text-center main-content">
    <div class="col-sm-12 col-md-12">
      <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank" class="contact-icon"><i class="fa fa-facebook-square fa-4x"></i></a>
      <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank" class="contact-icon"><i class="fa fa-youtube-square fa-4x"></i></a>
      <a href="https://twitter.com/rbgmbham" target="_blank" class="contact-icon"><i class="fa fa-twitter-square fa-4x"></i></a>
      <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site" class="contact-icon"><i class="fa fa-envelope-square fa-4x"></i></a>
      <a href="tel:6785168433" class="contact-icon"><i class="fa fa-phone-square fa-4x"></i></a>
    </div>
  </div>
</div> <!-- end container -->