<div class="container">
  <h1 class="text-center bio-pg-heading">Pastor David &amp; Katrina Austin</h1>

    <div class="row">
      
      <div class="media">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="/assets/DSC_9927.JPG" alt="David's Bio Image" id="david-bio-img">
            </a>

            <br>
            <h4>
              <p class="bio-pg-text-info">
                <i class="fa fa-envelope"> Contact Rev. Austin via email:  <a href="mailto:d.austin@rbgminternational.org"> d.austin@rbgminternational.org</a></i>
              </p>
            </h4>

          </div>
        </div> <!-- end div col-sm-4 -->

        <div class="col-md-6">
          <div class="media-body">
            <h4>
              <p class="bio-pg-text-info">Pastor David F. Austin is the Senior Pastor of Redeemed By Grace Ministries. He is a native of Birmingham, Al. Pastor Austin is a U.S. Army Veteran and served seven years on active duty, including eight months in a wartime deployment for Operation Desert Storm. Pastor Austin has also served diligently in the ministry for 17 years. He is committed to winning souls for Christ and uses his distinct method of preaching to provide God’s divine word to address matters important to salvation and human existence as well as practical life application; his focus is always on the glory of God. Pastor Austin has studied under many great Pastors and Apologetics. For several years Pastor Austin served as the Youth Pastor at Cornerstone Baptist Church as well as Eastern Star Missionary Baptist Church. He served as a Youth Pastor until he accepted the charge from God to plant a new ministry, “Redeemed By Grace”. Besides Pastor Austin’s secular education he has received a Bachelor of Arts Degree in Pastoral Theology from the Birmingham Easonian Baptist Bible College and has been accepted to Beeson School of Divinity at Samford University and plans to begin Fall 2016 to matriculate towards his Masters of Divinity.</p>

              <p class="bio-pg-text-info">Pastor Austin is the husband of one wife, Lady Katrina R. Austin. Pastor and Lady Austin was happily joined in matrimony on May 26, 2012. Mrs. Austin is the Assistant Director of the JBS ProACT Team, where she is a mental health therapist. Lady Austin received her Bachelor of Social Work Degree from Miles College and her Masters of Social Work from Alabama A&amp;M University. Lady Austin serves in many capacities for the ministry but her most important role is serving the Pastor as he serves the congregation.</p>

            </h4>
          </div>
        </div>
    </div>
  </div>
</div> <!-- end container -->
