<div class="container">
  <div>
    <div class="col-md-6">
      <h1 class="text-center about-pg-heading" id="about-heading">RBGM online</h1>
        <p class="about-pg-text-info">Welcome to the RBGM online community. I believe the Web is a vital tool in sharing our passion for the Gospel and compassion for God’s people. Visit often to learn how God is working in our ministry. Our faith grows and matures most effectively in relationship with other believers this is echoed in our Vision Statement “Integrating God’s Holistic plan for man through our relationship with Him and one another.” I invite you to come worship and grow with us as we seek the face of God and build our relationships with our fellow man through evangelism and discipleship. Join us on campus to engage in face-to-face fellowship we would be honored to have you worship with us and add to our worship experience. As you do, I pray God will reveal your next steps in going deeper with Him.
        </p>
    </div>

    <div class="col-md-6">
      &nbsp;&nbsp;
      <img class="media-object img-thumbnail center-block online-pg-img" src="/assets/group.PNG" alt="Group Image" width="100%" height="100%">
    </div>

  </div>
</div> <!-- end container -->