<!DOCTYPE html>
<html>
<head>
  <title>MainSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-text pull-left">
      <!-- Logo will go here -->
      <p><i class="fa fa-leaf fa-3x"></i></p>
    </div>

    <div class="navbar-text pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Staff</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

  </div>
</nav>

<%= yield %>


<div class="navbar navbar-default navbar-fixed-bottom navbar-brand-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>Site developed by <a href="http://www.gabeaustin.com" target="_blank">Gabe Austin</a> &copy; 2015</p>
    </div>
    <div class="navbar-text pull-right">
      <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
      <a href="https://twitter.com/rbgmbham" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
    </div>
  </div>
</div>




</body>
</html>
